{% extends "base.html" %}
{% block content%}

<!-- Modal Structure -->
    <form id="add-video-modal" class="modal s12 m2 offset-m5" method="POST" action="{{ url_for('add_video')}}">
        <div class="modal-content grey darken-4">
            <div class="row center-align"><a href="{{ url_for('get_videos')}}"
                    class="brand-logo extra-bold center-align white-text" id="modal-header">mograph<span
                        class="logo-dot">.</span>gallery</a></div>
            <div class="row white-text center-align" id="modal-tagline">Add a Video</div>
            <section>
                <!-- flash messages -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages%}
                            <div class="row flashes">
                                <h6 class="center-align yellow-text">{{ message }}</h6>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </section>
            <div class="video-info">
                <!-- video-category-selection -->
                <div class="row">
                    <div class="input-field col s12">
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled selected >Click to choose </option>
                            {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="category_name">Select Category</label>
                    </div>
                </div>
                <!-- video-name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix yellow-text">border_color</i>
                        <input id="video_name" name="video_name" minlength="5" maxlength="30"  type="text"
                            class="validate white-text" required>
                        <label for="video_name">Name</label>
                    </div>
                </div>
                <!-- video-description -->
                <div class="row">
                    <div class="input-field col s12 ">
                        <i class="material-icons prefix yellow-text">comment</i>
                        <textarea id="video_description" name="video_description" minlength="5" maxlength="300" 
                            class="validate white-text materialize-textarea" required></textarea>
                        <label for="video_description">Description</label>
                    </div>
                </div>
                <!-- video-embed-url -->
                <div class="row">
                    <div class="input-field col s12 ">
                        <i class="material-icons prefix yellow-text">language</i>
                        <input id="video-embed-url" name="video_embed_url" minlength="5" maxlength="300" type="text"
                            class="validate white-text" required>
                        <label for="video-embed-url">Paste embed url</label>
                    </div>
                </div>
                <!-- video-created-by -->
                <div class="row">
                    <div class="input-field col s12 ">
                        <i class="material-icons prefix yellow-text">movie_creation</i>
                        <input id="created_by" name="created_by" minlength="5" maxlength="100" type="text"
                            class="validate white-text" required>
                        <label for="created_by">Created by</label>
                    </div>
                </div>
                <!-- video-sound-by -->
                <div class="row">
                    <div class="input-field col s12 ">
                        <i class="material-icons prefix yellow-text">audiotrack</i>
                        <input id="sound_by" name="sound_by" minlength="5" maxlength="100" type="text"
                            class="validate white-text" required>
                        <label for="sound_by">Sound by</label>
                    </div>
                </div>
                
            </div>
            <!-- add video -->
            <div class="row center-align grey darken-4 add-video-modal-footer modal-footer">
                <button type="submit" id="add-video-modal-footer" class=" waves-effect waves-green btn s5 col right extra-bold">Continue</button>
                <a href="{{ url_for('profile', username=session['user'])}}" class=" waves-effect waves-green btn s5 col left extra-bold">Cancel</a>
            </div>
            
        </div>
            
    </form>
    <section>
        <div class="row margin">
            <div class="col s8 offset-s2">
                <div class="page-header">
                    Discover
                </div>
                <div class="page-description">
                    Keyframe magic from around the world
                </div>
            </div>
        </div>
    </section>
    <section id="video-gallery">
        {%- for num in range(0, videos | length, 6) -%}
            <div class="row margin">
                
                <div class="col s8 offset-s2">
                    <!-- https://codepen.io/gaeowyn/pen/oiyHF -->
                    <div class=" video-row">
                        <ul>
                            {% for ind in range(videos | length) %}
                                {% if loop.index > num and ind < (num + 6) %}
                                <li class="video">
                                    <div class="grey darken-4 white-text video-label">
                                        <h6>{{ videos[ind].video_name }}</h6>
                                        <div class="extra-bold category-name">
                                            {{ videos[ind].category_name }}
                                        </div>
                                        <div class="description-trigger">
                                            <a href="#" class="video-controls" id="{{ loop.index + num }}">Show video
                                                controls</a>
                                            <a href="#" class="learn-more-link tooltipped"  data-position="right" data-tooltip="Click to learn more"><i class="tiny material-icons">info_outline</i></a>
                                            <p class="learn-more white-text">
                                                {{ videos[ind].video_description }}<br>
                                                <br>
                                                Created by: {{ videos[ind].created_by }}<br>
                                                <br>
                                                Sound by: {{ videos[ind].sound_by }}<br>
                                                <br>
                                                <br>
                                                <br>
                                                <em class="learn-more-link">Added by: {{ videos[ind].added_by }}</em>
                                            </p>
                                            
                                        </div>
                                    </div>
                                    <iframe src="{{videos[ind].video_embed_url}}?api=1&autoplay=0&transparent=0&controls=0"
                                        id="player{{ loop.index + num}}" class="video-frame" type="text/html" frameborder="0"
                                        allow="autoplay; fullscreen; picture-in-picture" webkitallowfullscreen mozallowfullscreen
                                        allowfullscreen></iframe>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        {%- endfor -%}
    </section>

{% endblock %}