<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description"
        content="Discover, curate and be inspired by Motion Graphic Design work from across the web" />
    <meta name="keywords"
        content="Motion, Illustration, Animation, VFX, Visual Effects, Design, Character Animation, Simulation, 3D, Broadcast Design, Branding" />
    <meta name="author" content="Rex Abba-Abba" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!--materialize-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css" />
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/style.css') }}" type="text/css" />


    <title>mograph.gallery</title>
</head>

<body class="black">
    <header>
        <!-- navbar -->
        <nav class="black">
            <div class="nav-wrapper page-margin">
                <a href="{{ url_for('get_videos')}}" class="brand-logo extra-bold left" id="logo">mograph<span class="logo-dot">.</span>gallery</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    {% if session.user %}
                        <li><a href="{{ url_for('logout')}}">Manage Collections</a></li>
                        <li><a href="{{ url_for('logout')}}">Create a Collection</a></li>
                        <li><a href="{{ url_for('logout')}}">Log out</a></li>
                        <li><a href="{{ url_for('profile', username=session['user'])}}">Profile</a></li>  
                    {% else %}
                       <li><a class="btn extra-bold">Serendipitous?</a></li>
                        <li><a href="#">Discover</a></li>
                        <li><a href="{{ url_for('signup')}}">Sign up</a></li>
                        <li><a href="{{ url_for('login')}}">Log in</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    
        <!-- search bar -->
        <div class="nav-wrapper">
            <form class="page-margin" id="search-bar">
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons small" id="search-icon">search</i></label>  
                </div>
            </form>
        </div>
    
        <!-- mobile sidenav -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('get_videos')}}">Home</a></li>
            {% if session.user %} 
                <li><a href="{{ url_for('logout')}}">Manage Collections</a></li>
                <li><a href="{{ url_for('logout')}}">Create a Collection</a></li>
                <li><a href="{{ url_for('profile', username=session['user'])}}">Profile</a></li>
                <li><a href="{{ url_for('logout')}}">Log out</a></li>
            {% else %}
            <li><a href="#">Discover</a></li>
            <li><a href="{{ url_for('signup')}}">Sign up</a></li>
            <li><a href="{{ url_for('login')}}">Log in</a></li>
            <li><a class="btn extra-bold">Serendipitous?</a></li>
            {% endif %}
        </ul>
    </header>

    <main class="container">    
    {% block content %}

    {% endblock %}
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>