<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description"
        content="Discover, curate and be inspired by Motion Graphic Design work from across the web" />
    <meta name="keywords"
        content="Motion, Illustration, Animation, VFX, Visual Effects, Design, Character Animation, Simulation, 3D, Broadcast Design, Branding" />
    <meta name="author" content="Rex Abba-Abba" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!--materialize-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css"/> 
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/style.css') }}" type="text/css" />


    <title>mograph.gallery</title>
</head>
<body>
    {% block content %}

    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>