{% extends "base.html" %}
{% block content%}
<section>
                <!-- flash messages -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages%}
                            <div class="row flashes">
                                <h6 class="center-align yellow-text">{{ message }}</h6>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </section>
<!-- Modal Structure -->
    <form id="edit-category-modal" class="modal s12 m2 offset-m5" method="POST" action="{{ url_for('edit_category', category_id=category._id)}}">
        <div class="modal-content grey darken-4">
            <div class="row center-align"><a href="{{ url_for('get_videos')}}"
                    class="brand-logo extra-bold center-align white-text" id="modal-header">mograph<span
                        class="logo-dot">.</span>gallery</a></div>
            <div class="row white-text center-align" id="modal-tagline">Edit Category</div>
            
            <!-- category-name -->
              
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix yellow-text">border_color</i>
                        <input id="c_name" name="c_name" minlength="3" maxlength="25"  type="text"
                             value="{{ category.category_name }}" class="validate white-text" required>
                        <label for="c_name">Category Name</label>
                    </div>
                </div>
             
                
            
            <!-- add category -->
            <div class="row center-align grey darken-4 edit-category-modal-footer modal-footer">
                <button type="submit" id="edit-category-modal-footer" class=" waves-effect waves-green btn s5 right col extra-bold">Edit Category</button>
                <a href="{{ url_for('get_categories')}}" class=" waves-effect waves-green btn s5 col left extra-bold">Cancel</a>
            </div>
            
        </div>
            
    </form>
    <section>
        <div class="row margin">
            <div class="col s8 offset-s2">
                <div class="page-header">
                    Manage Categories
                </div>
                <div class="page-description">
                    Curated collections by our editors
                </div>
            </div>
        </div>
    </section>
    <div class="row margin">
        <div class="col s8 offset-s2">
            <span class="add-category"><a href="{{ url_for('add_category')}}"><i class="material-icons large new-folder">create_new_folder</i>Add a Category</a></span>
         </div>
    </div>
    <div class="row">
        {% for category in categories %}
        <div class="card col s8 offset-s2 grey  darken-4 waves-effect waves-block">
            <div class="card-content activator">
                <i class="large activator material-icons white-text">folder_open</i>
                <a href="" class="grey edit grey darken-2  right">Delete</a> 
                <a href="" class="grey edit grey darken-2 modal-trigger right">Edit</a>   
                <span class="card-title activator white-text extra-bold">{{ category.category_name }}<i
                        class="material-icons right">more_vert</i></span> 
                                         
            </div>
            <div class="card-reveal grey darken-4" >
                    <span class="card-title grey-text text-darken-4">
                        <i class="material-icons right white-text">close</i>
                    </span>
                    <section id="video-gallery">
                        {%- for num in range(0, videos | length, 6) -%}
                            <div class="row">
                                <div class="col s12 " id="category-videos">
                                    <!-- https://codepen.io/gaeowyn/pen/oiyHF -->
                                    <div class=" video-row">
                                        <ul> 
                                        <span class="open-category"><a href="" >Explore Category<i class="material-icons large arrow">arrow_forward</i></a></span>
                                        {% for ind in range(videos | length) %}
                                                {% if loop.index > num and ind < (num + 6) %}
                                                    {% if videos[ind].category_name == category.category_name %}
                                                        <li class="video">
                                                            <iframe src="{{videos[ind].video_embed_url}}?api=1&autoplay=0&transparent=0&controls=0"
                                                                id="player{{ loop.index + num}}"  type="text/html" frameborder="0"
                                                                allow="autoplay; fullscreen; picture-in-picture" webkitallowfullscreen mozallowfullscreen
                                                                allowfullscreen></iframe>
                                                        </li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {%- endfor -%}
                    </section>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}