{% extends "base.html" %}
{% block content%}
<section>
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages%}
            <div class="row flashes">
                <h4 class="center-align white-text">{{ message }}</h4>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</section>
<section>
    <!-- Delete Modal -->
    {% for ind in range(my_videos | length) %}
        {% if session.user|lower == my_videos[ind].added_by|lower %}
        <div id="delete-modal{{loop.index}}" class="delete-modal modal grey darken-4 white-text center-align">
            <div class="modal-content row">
                <div class="col s12"><i class="material-icons yellow-text">warning</i></div>
                <h5 class="extra-bold yellow-text"> This action cannot be undone</h5>
                <p>Are you sure you want to delete this video?</p>
            </div>
            <div class="grey darken-4 row center-align">
                <a href="{{ url_for('delete_video', video_id=my_videos[ind]._id)}}"
                    class="modal-close waves-effect waves-green btn col extra-bold s3 offset-s2">Delete</a>
                <a href="{{ url_for('profile', username=session['user'])}}"
                    class="modal-close waves-effect waves-green btn col extra-bold s3 offset-s2">Cancel</a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</section>
<section>
    <div class="row margin">
        <div class="col s10 offset-s1 xl8 offset-xl2">
            <div class="page-header">
                {{ username }}
            </div>
            <div class="page-description">
                {% if my_videos | length == 1 %}
                {{ my_videos | length }} video
                {% else %}
                {{ my_videos | length }} videos
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- For screens below 992px -->
<section id="video-gallery-1">
    {% for num in range(0, my_videos | length, 1) %}
    <div class="row margin">
        <div class="col s10 offset-s1 xl8 offset-xl2">
            <!-- https://codepen.io/gaeowyn/pen/oiyHF -->
            <div class=" video-row">
                <ul>
                    {% for ind in range(my_videos | length) %}
                        {% if loop.index > num and ind < (num + 1) %}
                        <li class="video">
                            <div class="grey darken-4 white-text video-label">
                                <h6>{{ my_videos[ind].video_name }}</h6>
                                <div class="extra-bold category-name">
                                    {{ my_videos[ind].category_name }}
                                </div>
                                <div class="description-trigger">
                                    <a href="{{ url_for('edit_video', video_id=my_videos[ind]._id)}}"
                                        class="grey edit grey darken-2">Edit</a>
                                    <!-- Delete Modal Trigger -->
                                    <a href="#delete-modal{{loop.index}}"
                                        class="grey edit grey darken-2 modal-trigger">Delete</a>

                                    <a href="#" class="learn-more-link"><i
                                            class="tiny material-icons">info_outline</i><span>Learn more</span></a>
                                    <p class="learn-more white-text">
                                        {% if my_videos[ind].video_description |  length > 0 %}
                                        {{ my_videos[ind].video_description }}<br>
                                        <br>
                                        {% endif %}
                                        Credit: {{ my_videos[ind].video_credit }}<br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <em class="learn-more-link">Added by: {{ my_videos[ind].added_by }}</em>
                                    </p>

                                </div>
                            </div>
                            <iframe
                                src="{{my_videos[ind].video_embed_url}}?api=1&autoplay=0&transparent=0&controls=1&title=0%portrait=0&byline=0"
                                id="playerC{{ loop.index + num}}" class="video-frame" type="text/html" frameborder="0"
                                allow="autoplay; fullscreen; picture-in-picture" webkitallowfullscreen mozallowfullscreen
                                allowfullscreen></iframe>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
<!-- For screens between 992px and 1200px -->
<section id="video-gallery-2">
    {% for num in range(0, my_videos | length, 2) %}
    <div class="row margin">
        <div class="col s10 offset-s1 xl8 offset-xl2">
            <!-- https://codepen.io/gaeowyn/pen/oiyHF -->
            <div class=" video-row">
                <ul>
                    {% for ind in range(my_videos | length) %}
                        {% if loop.index > num and ind < (num + 2) %}
                        <li class="video">
                            <div class="grey darken-4 white-text video-label">
                                <h6>{{ my_videos[ind].video_name }}</h6>
                                <div class="extra-bold category-name">
                                    {{ my_videos[ind].category_name }}
                                </div>
                                <div class="description-trigger">
                                    <a href="{{ url_for('edit_video', video_id=my_videos[ind]._id)}}"
                                        class="grey edit grey darken-2">Edit</a>
                                    <!-- Delete Modal Trigger -->
                                    <a href="#delete-modal{{loop.index}}"
                                        class="grey edit grey darken-2 modal-trigger">Delete</a>

                                    <a href="#" class="learn-more-link"><i
                                            class="tiny material-icons">info_outline</i><span>Learn more</span></a>
                                    <p class="learn-more white-text">
                                        {% if my_videos[ind].video_description |  length > 0 %}
                                        {{ my_videos[ind].video_description }}<br>
                                        <br>
                                        {% endif %}
                                        Credit: {{ my_videos[ind].video_credit }}<br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <em class="learn-more-link">Added by: {{ my_videos[ind].added_by }}</em>
                                    </p>
                                </div>
                            </div>
                            <iframe
                                src="{{my_videos[ind].video_embed_url}}?api=1&autoplay=0&transparent=0&controls=1&title=0%portrait=0&byline=0"
                                id="playerB{{ loop.index + num}}" class="video-frame" type="text/html" frameborder="0"
                                allow="autoplay; fullscreen; picture-in-picture" webkitallowfullscreen mozallowfullscreen
                                allowfullscreen></iframe>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
<!-- For screens above 1200px -->
<section id="video-gallery">
    {% for num in range(0, my_videos | length, 4) %}
    <div class="row margin">
        <div class="col s10 offset-s1 xl8 offset-xl2">
            <!-- https://codepen.io/gaeowyn/pen/oiyHF -->
            <div class=" video-row">
                <ul>
                    {% for ind in range(my_videos | length) %}
                        {% if loop.index > num and ind < (num + 4) %}
                        <li class="video">
                            <div class="grey darken-4 white-text video-label">
                                <h6>{{ my_videos[ind].video_name }}</h6>
                                <div class="extra-bold category-name">
                                    {{ my_videos[ind].category_name }}
                                </div>
                                <div class="description-trigger">
                                    <a href="{{ url_for('edit_video', video_id=my_videos[ind]._id)}}"
                                        class="grey edit grey darken-2">Edit</a>
                                    <!-- Delete Modal Trigger -->
                                    <a href="#delete-modal{{loop.index}}"
                                        class="grey edit grey darken-2 modal-trigger">Delete</a>
                                    <a href="#" class="video-controls" id="{{ loop.index + num }}">Show video
                                        controls</a>
                                    <a href="#" class="learn-more-link tooltipped" data-position="right"
                                        data-tooltip="Click to learn more"><i
                                            class="tiny material-icons">info_outline</i></a>
                                    <p class="learn-more white-text">
                                        {% if my_videos[ind].video_description |  length > 0 %}
                                        {{ my_videos[ind].video_description }}<br>
                                        <br>
                                        {% endif %}
                                        Credit: {{ my_videos[ind].video_credit }}<br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <em class="learn-more-link">Added by: {{ my_videos[ind].added_by }}</em>
                                    </p>
                                </div>
                            </div>
                            <iframe src="{{my_videos[ind].video_embed_url}}?api=1&autoplay=0&transparent=0&controls=0"
                                id="player{{ loop.index + num}}" class="video-frame" type="text/html" frameborder="0"
                                allow="autoplay; fullscreen; picture-in-picture" webkitallowfullscreen mozallowfullscreen
                                allowfullscreen></iframe>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}