{% extends "base.html" %}
{% block content%}

<!-- Modal Structure -->
<form id="modal1" class="modal s12 m2 offset-m5" method="POST" action="{{ url_for('signup')}}">
    <div class="modal-content grey darken-4">
        <div class="row center-align"><a href="{{ url_for('get_videos')}}" class="brand-logo extra-bold center-align white-text"
                id="modal-header">mograph<span class="logo-dot">.</span>gallery</a></div>
                <div class="row white-text center-align" id="modal-tagline">Signup to discover and save amazing creativity.</div>
        <!-- username -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix yellow-text">insert_emoticon</i>
                <input id="username" name="username" type="text" class="validate white-text">
                <label for="username">Username</label>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix yellow-text">lock_open</i>
                    <input id="password" name="password" type="text" class="validate white-text">
                    <label for="password">Create a password</label>
                </div>
            </div>
        </div>
         
        <!-- Sign up -->
        <div class="row center-align grey darken-4">
        <a href="#!" class="modal-close waves-effect waves-green btn s12 col extra-bold ">Continue</a>
        </div>
   
    </div>
   
</form>

{% endblock %}