{% extends "base.html" %}
{% block content %}

<section id="video-gallery">
    
    <div class="row margin">
         
        <div class="col s8 offset-s2">
            <!-- https://codepen.io/gaeowyn/pen/oiyHF -->
            <div class=" video-row">
                <ul>
                    {% for video in videos %}
                        <li class="video">
                            <div class="grey darken-4 white-text video-label">
                                <h6>{{ video.video_name }}</h6>
                                <div class="extra-bold category-name">
                                    {{ video.category_name }}
                                </div>
                                <div class="description-trigger">
                                    <a href="#" onclick="descriptionToggle()" class="video-controls" id="{{ loop.index  }}">Show video controls</a>
                                    <a href="#" onclick="descriptionToggle()" class="learn-more-link"><i class="tiny material-icons">info_outline</i></a>
                                    <p class="video-description white-text" >
                                        {{ video.video_description }}<br>
                                        <br>
                                        Created by: {{ video.created_by }}<br>
                                        <br>
                                        Sound by: {{ video.sound_by }}
                                    </p>
                                </div>
                            </div>
                            
                            <iframe src="{{video.video_embed_url}}?api=1&autoplay=0&transparent=0&controls=0" id="player{{ loop.index  }}"  class="video-frame" type="text/html"
                                frameborder="0" allow="autoplay; fullscreen; picture-in-picture" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}