{% extends "base.html" %}
{% block content %}

<section>
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages%}
                <div class="row flashes">
                    <h4 class="center-align white-text">{{ message }}</h4>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</section>

    <h2> testing the extension from base</h2>
    {% for video in videos%}
    {{video.video_name}}<br>
    {{video.video_description}}<br>
    {{video.video_embed_url}}<br>
    {{video.created_by}}<br>
    {{video.sound_by}}<br>
    {% endfor %}

{% endblock %}